<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">

		<title>{% block title %}{% endblock%}</title>
		{% load staticfiles %}
    	<link rel="stylesheet" href="{% static "reporting/css/style.css"  %}"/>

		{% block custom_styles %}{% endblock %}

	</head>
	<body>
		
		<div class="frontpage">
			<h1>Service Level Agreement Report</h1>
			<h2>{{ report.customer.name }}</h2>
			<h2>{{ report.report_period }}</h2>
		</div>
		
		<div class="header">
			<img style="max-height:60px;" src="{% static "reporting/img/eoh_logo.jpeg"  %}">
		</div>
		
		<div class="footer">
			<img style="max-height:60px;" src="{% static "reporting/img/slogan.png"  %}">
		</div>

		<div class="topleft">
			<p style="margin:5px;">{{ report.customer.name }}</p>
			<p style="margin:5px;">{{ report.report_period|date:"F Y" }} - version {{ report.version}}</p>
		</div>

		<div {% block content_attrs %}class="content report"{% endblock %}>
			{% block content %}{% endblock %}
		</div>


	</body>
</html>
