

{% if report.advanced %}

	{% if perms.reporting.can_change_report %}
	
	<script type="text/javascript">
		function edit_btn_click( heading ){
			$(heading).toggle();
			$('#edits').prop('checked', true);
			$('#btn_save').removeAttr('disabled');
		}
		
		function cancel_btn_click(){
			$('.form-control').hide();
			$('.btn').show(); $('p').show();
			$('#edits').prop('checked', false);
			$('#btn_save').attr('disabled','disabled');
		}
		
		function save_btn_click(){
			$('#edits').prop('checked', false);
			$('#report_form').submit();
		}
	</script>
	

		<form class="no_form" id="report_form" action="{% url 'reporting:report_update'  report.slug  %}" method="post" role="form">
		{% csrf_token %}
		
		<div class="report_header clearfix hidden-print">
			<a id="btn_cancel" class="btn btn-md hidden-print" style="float: right;" onclick="cancel_btn_click()">
				Cancel &nbsp;&nbsp; <span class="glyphicon glyphicon-remove"> </span>
			</a>
			<button id="btn_save" class="btn btn-md hidden-print" disabled style="float: right;" onclick="save_btn_click()">
				Save Report &nbsp;&nbsp; <span class="glyphicon glyphicon-floppy-disk"> </span>
			</button>
		</div>

        <input id="edits" type="checkbox" style="display: none;">
		
	{% else %}
		<div class="report_header clearfix hidden-print">
			<p class="h1" style="margin-top: 5px; float: left;">Report Period: {{report.report_period}} - Version {{report.version}}</p>
		</div>
		
	{% endif %}

	
	<h1>Service Level Summary</h1>
	
	<h2>General</h2>
	{% if perms.reporting.can_change_report %}
		<a class="e_general btn btn-sm report_btn hidden-print" onclick="edit_btn_click('.e_general');">
			<span class="glyphicon glyphicon-pencil"> </span>
		</a>
		<textarea name="comment_general" class="e_general form-control" style="display: none;" rows="1" cols="100">{{report.comment_general}}</textarea>
	{% endif %}
	<p class="e_general">{{ report.comment_general }}</p>
	
	<h2>Areas of Concern</h2>
	{% if perms.reporting.can_change_report %}
		<a class="e_areas_of_concern btn btn-sm report_btn hidden-print" onclick="edit_btn_click('.e_areas_of_concern');">
			<span class="glyphicon glyphicon-pencil"> </span>
		</a>
		<textarea name="comment_concern" class="e_areas_of_concern form-control" style="display: none;" rows="1" cols="100">{{report.comment_concern}}</textarea>
	{% endif %}
	<p class="e_areas_of_concern">{{ report.comment_concern }}</p>
	
	<h2>Sites</h2>
	{% if  report.site_table %}
	<table class="dataframe table-report tb_site tb_warning" border="1">
		<thead>
			<tr style="text-align: right;">
				<th>Site</th>
				<th>Availability</th>
			</tr>
		</thead>
		<tbody>
			{% for site in report.site_table %}
			<tr>
				<th>{{ site.Site }}</th>
				<td>{{ site.Availability|floatformat:2 }}</td>
			</tr>
			{% endfor %}
		</tbody> 
	</table>
	{% else %}
	<p>All site availability above {{ report.customer.sla }}% </p>
	{% endif %}
	
	<h1>Service Level</h1>
	
	<p>The qualitative and quantitative standards according to which the Services are to be provided, as
	set out in the Service Definitions and Service Level Agreement</p>
	
	<p>If the Downtime in a month exceeds the allowable SLA downtime, the suppliers will credit the monthly
	service fee, or in the case of variable billed services, the previous month’s actual billed fee, to the
	value of 4% of the monthly fee for each full hour, or part thereof that it exceeds the allowable SLA
	downtime. Normal business days. However monitoring, support and maintenance shall be provided
	24 x 7 x 365.</p>
	
	<p>The maximum penalty in any one month is limited to 30% of the monthly recurring fee for any
	Service.</p>
	
	<table style="width: 100%; text-align: left; font-size: 120%; border: 1px solid gray">
		<tr style="vertical-align: middle;">
			<td>
				Service Level Credit for {{ report.report_period|date:"F Y"}}:
			</td>
			<td style="text-align: center;" >	
				<p class="e_sl_credit" style="text-align: center; margin-top:12px;">R&nbsp;&nbsp;{{ report.credit }}</p>
			{% if perms.reporting.can_change_report %}
				<input name="credit" type="number" class="e_sl_credit form-control" value="{{ report.credit }}" style="display: none;">
			</td>
			<td style="text-align: right; width: 34px;">
				<a class="e_sl_credit btn btn-sm hidden-print" onclick="edit_btn_click('.e_sl_credit');">
					<span class="glyphicon glyphicon-pencil"> </span>
				</a>
			{% endif %}
			</td>
		</tr>
	</table>
	
	<br />
	<table style="width: 100%; text-align: center; border: 1px solid gray">
		<tr style="height: 50px;">
			<td></td><td></td>
		</tr>
		<tr style="height: 50px;" >
			<td style="vertical-align: middle; padding: 10px;"><hr>Signature for: {{ report.customer.name }}</td>
			<td style="vertical-align: middle; padding: 10px;"><hr>Signature for: EOH Network Solutions</td>
		</tr>
	</table>
	
	<br/>
	<p style="font-size: 120%;">Customer Comments:</p>
	<table style="width: 100%; text-align: left; border: 1px solid gray;">
		<tr style="height: 100px;" >
			<td></td>
		</tr>
	</table>
	
	<h1>Network SLA Performance</h1>
	<h2>Core SLA Performance</h2>
	{{ report.core_table|safe }}
	<br />
	<figure>
      <embed type="image/svg+xml" style="width: 100%;" src="/media/graphs/CORE_{{ report.report_period.year }}_0{{ report.report_period.month }}.svg"></embed>
    </figure>
	
	<p class="newpage"></p>
	<h2>Branch SLA Performance</h2>
{% else %}
	<h1>Network SLA Performance</h1>
	<h2>Branch SLA Performance</h2>
{% endif %}



<table class="table-report tb_sites">
	<thead>
		<tr>
			<th class="site">Site</th>
			<th class="availability">Availability (%)</th>
			<th class="packet_loss">Packet Loss (%)</th>
			<th class="latency">Latency (ms)</th>


		</tr>
	</thead>
	<tbody>
		{% for device in report.device_table %}
		<tr class="{% cycle 'odd' 'even' %}" >
			<th class="site" style="padding-right: 8px;">{{ device.site }}</th>
			<td class="availability">
				{{ device.availability }}
				<a style="float: right;" class="hidden-print" data-toggle="modal" href="{% url 'iris:iris_proxy' %}?id={{ device.a_gid }}&starttime={{ report.report_period.jsontime_start }}&endtime={{ report.report_period.jsontime_end }}" data-target="#myModal">
        			<span class="glyphicon glyphicon-info-sign"></span>
    			</a> &nbsp;&nbsp;
			</td>
			<td class="packet_loss">
				{{ device.packet_loss }}
			</td>
			<td class="latency">
				{{ device.latency }} 
				<a style="float: right;" class="hidden-print" data-toggle="modal" href="{% url 'iris:iris_proxy' %}?id={{ device.l_gid }}&starttime={{ report.report_period.jsontime_start }}&endtime={{ report.report_period.jsontime_end }}" data-target="#myModal">
        			<span class="glyphicon glyphicon-info-sign"></span>
    			</a> &nbsp;&nbsp;
			</td>

		</tr>
		{% endfor %}
	</tbody>
</table>

<p class="newpage"></p>
<h2>Branch Performance</h2>

{% if report.interface_table %}
	<table class="table-report tb_sites">
		<thead>
			<tr>
				<th class="site">Site</th>
				<th class="interface">Interaface</th>
				<th class="avg_in">Average In</th>
				<th class="avg_out">Average Out</th>
			<!--	<th class="speed">Speed</th>
				<th class="capacity_used">Capacity Used</th> -->
			</tr>
		</thead>
		<tbody>
			{% for interface in report.interface_table %}
				<tr class="{% cycle 'odd' 'even' %}" >
			        {% ifchanged interface.site %}
			            <th class="site" style="border-bottom: 0 solid black; padding-right: 8px;">{{ interface.site }}</th>
			        {% else %}
			            <th class="site" style="border-top: 0 solid black; border-bottom: 0 solid black;  padding-right: 8px;" > </th>
			        {% endifchanged %}
					
					<td class="interface" style="text-align: left">
						{{ interface.interface }}
						<a style="float: right;" class="hidden-print" data-toggle="modal" href="{% url 'iris:iris_proxy' %}?id={{ interface.t_gid }}&starttime={{ report.report_period.jsontime_start }}&endtime={{ report.report_period.jsontime_end }}" data-target="#myModal">
		        			<span class="glyphicon glyphicon-info-sign"></span>
		    			</a> &nbsp;&nbsp;
					</td>
					<td class="avg_in">{{ interface.avg_in }}</td>
					<td class="avg_out">{{ interface.avg_out }}</td>
				<!--	<td class="speed">{{ interface.speed }}</td>
					<td class="capacity_used">{{ interface.capacity_used }}</td> -->
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Error/No data...</p>
{% endif %}

{# report.interaface_table|safe #}
	
<h1>SMC Call Performance</h1>
<h2>Call Performance - Priority</h2>
{{ marval_data.tbl_priority|safe }}
<br />
<figure>
  <embed type="image/svg+xml" style="width: 100%;" src="/media/graphs/{{ report.customer.code }}_{{ report.report_period.year }}0{{ report.report_period.month }}_priority.svg"></embed>
</figure>

<p class="newpage"></p>
<h2>Call Performance - Root Cause</h2>
{{ marval_data.tbl_root_cause|safe }}
<br />
<figure>
  <embed type="image/svg+xml" style="width: 100%;" src="/media/graphs/{{ report.customer.code }}_{{ report.report_period.year }}0{{ report.report_period.month }}_root_cause.svg"></embed>
</figure>

<p class="newpage"></p>
<h2>SMC Call Report</h2>

<table class="tb_calls">
	<thead>
		<tr>
			<th class="id">Req Number</th>
			<th class="contact">Contact</th>
			<th class="created_on">Date And Time Logged</th>
			<th class="solved_on">Date And Time Closed</th>
			<th class="hours">Hours</th>
			<th class="description">Description</th>
			<th class="resolution">Resolution</th>
			<th class="root_cause">Root Cause</th>
			<th class="service">Service</th>
			<th class="priority">Priority</th>
		</tr>
	</thead>
	<tbody>
		{% for request in requests %}
		<tr class="{% cycle 'odd' 'even' %}" >
			<td class="id">{{ request.call_ref }}</td>
			<td class="contact">{{ request.contact }}</td>
			<td class="created_on">{{ request.created_on|date:"Y-m-d H:i" }}</td>
			<td class="solved_on">{{ request.solved_on|date:"Y-m-d H:i" }}</td>
			<td class="hours">{{ request.hours }}</td>
			<td class="description">{{ request.description }}</td>
			<td class="resolution">{{ request.resolution }}</td>
			<td class="root_cause">{{ request.root_cause }}</td>
			<td class="service">{{ request.service }}</td>
			<td class="priority">{{ request.priority }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% if report.advanced %}
	{% if user.username != "customer" %}
		</form>
	{% endif %}
{% endif %}
