{% extends "reporting/base_print.html" %}
{% load staticfiles %}

{% block custom_styles %}
{{ block.super}}
<!-- <link rel="stylesheet" href="{% static "reporting/css/toc.css"  %}"/> -->
<style>

	html {
		line-height: 1.1 em;
	}
	
	a {
		text-decoration: none;
	}
	
	li {
		margin-left: 20px;
		margin-top: 15px;
	}

	div.frontpage {
		display: none;
	}
	
	div.toc_pdf {
		margin: auto;
		width: 100%;
	}

	ul.leaders span.indent {
		padding-left: 20px;
	}
	ul.leaders {
		max-width: 60em;
		padding: 0px;
		overflow: hidden;
		list-style: none;
	}
	ul.leaders li:before {
		float: left;
		width: 0px;
		white-space: nowrap;
		content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	}
	ul.leaders span:first-child {
		padding-right: 0.33em;
		background: white;
	}
	ul.leaders span + span {
		float: right;
		padding-left: 0.33em;
		background: white;
	}
</style>
{% endblock %}

{% block content_attrs %}class="content"{% endblock %}

{% block content %}

{{ toc|safe }}
{% endblock %}
