<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>GSMA Survey</title>
    <link href="{% static "survey/css/style.css" %}" rel="stylesheet">

    {% block extra_style %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "survey:about" %}">
                <img src="{% static "survey/img/gsma_mdimp_rgb.png" %}" alt="Logo">
            </a>
            <!--<a class="navbar-brand" href="#">GSMA Mobile for Development</a>-->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url "survey:about" %}">VALUE ADDED SERVICES SURVEY</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>


<!-- Begin page content -->
{% block content %}{% endblock %}


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p class="text-muted" style="float: left;">
            Questions? Please email <a href="mailto:jburchell@gsma.com">Julia Burchell</a> at any time during the
            survey.
            <span id="whisper"><i>{{ request.session.survey_slug }}</i></span>
        </p>
    </div>
</footer>


{#<script src="{% static "bootstrap/js/ie10-viewport-bug-workaround.js" %}"></script>#}
<script data-main="/static/survey/js/main" src="{% static "survey/bower_components/requirejs/require.js" %}"></script>


</body>
</html>
