{% if form %}
    {% load bootstrap3 %}
    {% bootstrap_messages %}

    <form id="company_form" class="form" action="{% url 'survey:update_company' %}?tab=0" method="post" role="form">

        {% csrf_token %}
        {% bootstrap_form form %}

        <br/>
        <button class="btn btn-primary" type="submit">Save Question 2</button>
        <button class="btn" type="reset">Cancel</button>

        {#    <table class="table table-hover">#}
        {#        {% bootstrap_form form %}#}
        {#        {{ form }}#}
        {#    </table>#}

        {#    <input class="btn btn-lg btn-danger" type="submit" value="Save & Continue"/>#}

    </form>
{% endif %}