{% extends "survey/base.html" %}

{% block content %}

    <div class="container">

        {% if request.user.is_staff %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>Please note:</strong> You are viewing this survey as staff user "{{ request.user.username }}".
                Click <a href="/admin/survey/survey/">here</a> to go back to the list of surveys.
            </div>
        {% endif %}

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul id="section_tabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a id="section-0" href="#0" aria-controls="0" role="tab">
                    Section 1</a></li>
                <li role="presentation"><a id="section-1" href="#1" aria-controls="1" role="tab" >
                    Section 2</a></li>
                <li role="presentation"><a id="section-2" href="#2" aria-controls="2" role="tab" >
                    Section 3</a></li>
                <li role="presentation"><a id="section-3" href="#3" aria-controls="3" role="tab" >
                    Section 4</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="0">
                    <h3>Section Header</h3>
                    <hr/>
                    {% include "survey/profile.html" with form=profile_form %}
                    <p>Navigate through the survey via the tabs above or return to the <a
                            href="{% url "survey:about" %}">home page</a>.</p>
                    <hr class="eos"/>
                </div>

                <div role="tabpanel" class="tab-pane" id="1">
                    <h3>Section Header</h3>
                    <hr/>
                    {% include "survey/provider.html" with provider=provider %}
                    <p>Navigate through the survey via the tabs above or return to the <a
                            href="{% url "survey:about" %}">home page</a>.</p>
                    <hr class="eos"/>
                </div>

                <div role="tabpanel" class="tab-pane" id="2">
                    <h3>Section Header</h3>
                    <hr/>
                    {% include "survey/financial.html" with form=financial_form %}
                    <p>Navigate through the survey via the tabs above or return to the <a
                            href="{% url "survey:about" %}">home page</a>.</p>
                    <hr class="eos"/>
                </div>

                <div role="tabpanel" class="tab-pane" id="3">
                    <h3>Section Header</h3>
                    <hr/>
                    {% include "survey/challenge.html" with form=challenge_form %}
                    <p>Navigate through the survey via the tabs above or return to the <a
                            href="{% url "survey:about" %}">home page</a>.</p>
                    <hr class="eos"/>
                </div>
            </div>
        </div>

        <div class="hidden">
            {% include "survey/progress.html" with form=progress_form %}
        </div>

    </div>


    <div id="challengeDetailModal" class="modal fade" role="dialog" tabindex="-1"
         aria-labelledby="challengeDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="challengeDetailModalLabel">Challenge Details</h4>
                </div>
                <div class="modal-body">
                    {# content here... #}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div id="providerAddModal" class="modal fade" role="dialog" tabindex="-2"
         aria-labelledby="providerAddModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="providerAddModalLabel">Challenge Details</h4>
                </div>
                <div class="modal-body">
                    {# content here... #}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div id="success" class="modal fade " role="dialog" tabindex="-3"
         aria-labelledby="successLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="successLabel">Section saved!</h4>
                </div>
                <div class="modal-body">
                    <p>Please use the tabs at the top of the page to navigate to the next section.</p>

                    <p>You can also go back to the <a href="/welcome/">survey overview</a>
                        to review and submit this section.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{#    <div id="close" class="modal fade " role="dialog" tabindex="-4"#}
{#         aria-labelledby="closeLabel" aria-hidden="true">#}
{#        <div class="modal-dialog modal-lg">#}
{#            <div class="modal-content">#}
{##}
{#                <div class="modal-body">#}
{#                    <h4>Thank you!</h4>#}
{#                    <p>You are now done.</p>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}