{% extends "survey/base.html" %}

{% block content %}


    <div class="jumbotron" style="padding-bottom: 20px; padding-top: 20px;">
        <div class="container">
            <p class="disclaimer">
                <i><b>All information gathered in this survey is treated and maintained with complete confidentiality,
                    as stipulated by the NDA (non-disclosure agreement) between your company and GSMA.
                    Information shared may be anonymised and included in publicly available research by the Mobile
                    for Development Impact team. No information will be shared that identifies a company or individual,
                    explicitly or implicitly, without such company’s or individual’s permission.
                    The survey results will be used only in connection with the objectives described below.</b></i>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">

            {#            <p>Welcome {{ user.username }} - {{ session.survey_slug }}</p>#}

            <h2>Objectives:</h2>
            <hr/>
            <p>Thank you for participating in this GSMA
                <a href="#" data-toggle="tooltip" data-placement="top" title="Mobile for Development">M4D</a>
                Impact
                <a data-toggle="tooltip" data-placement="top" title="Value Added Services">VAS</a>
                Survey. With this information, we aim to answer questions raised by you,
                the VAS Workshop Applicants and Alumni, in order to produce reports that we’ll share with you.
                These will:
            </p>

            <ul>
                <li class="list-group-item">• Help you understand who your peers’ trusted VAS providers are,
                    especially those with a track record of M4D VAS
                </li>
                <li class="list-group-item">• Help you understand potential solutions to the challenges of implementing
                    M4D VAS
                </li>
                <li class="list-group-item">• Increase your understanding of how your company’s approach to
                    VAS compares to that of other operators
                </li>
            </ul>

        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h2>Let's get started:</h2>
            <hr/>

            <p>The survey has four sections. Each of these can be saved and edited by you or your
                colleagues with whom you share the link.
            </p>

            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Section</th>
{#                    <th>Status</th>#}
                    <th>Link</th>
                    {#                    <th>Link</th>#}
                </tr>
                </thead>
                <tr>
                    <td>1. Basic Information</td>
{#                    <td>Complete</td>#}
                    {#                    <td>Yes</td>#}
                    <td><a href="/?tab=0">View</a></td>
                </tr>
                <tr>
                    <td>2. Trusted VAS suppliers</td>
{#                    <td>Complete</td>#}
                    {#                    <td>Yes</td>#}
                    <td><a href="/?tab=1">View</a></td>
                </tr>
                <tr>
                    <td>3. VAS Revenue and Investment</td>
{#                    <td>In Progress</td>#}
                    {#                    <td>No</td>#}
                    <td><a href="/?tab=2">View</a></td>
                </tr>
                <tr>
                    <td>4. Barriers to implementing M4D VAS</td>
{#                    <td>Not started</td>#}
                    {#                    <td>No</td>#}
                    <td><a href="/?tab=3">View</a></td>
                </tr>
            </table>
            <hr/>
            <p>
                <a class="btn btn-lg btn-primary" href="{% url 'survey:survey' %}" role="button">Continue to
                    Survey &raquo;</a>
            </p>
        </div>
    </div>

    <div class="jumbotron" style="padding-bottom: 20px; padding-top: 20px;">
        <div class="container">
            <p class="disclaimer">
                Mobile for Development Impact supports the digital empowerment of people in emerging markets through a
                central platform of data, analysis and insight used to inform investment and design decisions for mobile
                services. Our work is freely accessible through support from Omidyar Network and in partnership with The
                MasterCard Foundation at <a href="https://mobiledevelopmentintelligence.com/">http://www.gsmaintelligence.com/M4D</a>
            </p>
        </div>
    </div>


{% endblock %}