{% extends "survey/base.html" %}

{% block content %}

    {% if request.user.is_staff %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>Please note:</strong> You are viewing this survey as staff user "{{ request.user.username }}".
            Click <a href="/admin/survey/survey/">here</a> to go back to the list of surveys.
        </div>
    {% endif %}

    <div class="jumbotron" style="padding-bottom: 20px; padding-top: 20px;">
        <div class="container">
            <p class="disclaimer">
                <i><b>Yada yada</b></i>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h2>Let's get started:</h2>
            <hr/>
            <p>The survey has four sections.
            </p>

            {% if form %}

                <form id="progress_form" class="form-horizontal" method="post" role="form">
                    {% csrf_token %}

                    <table class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>Section</th>
                            <th>Link</th>
                            <th>Approve and submit?</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>1. Basic Information</td>
                            <td><a href="/?tab=0">{% if form.is_section_0_reviewed.value %}View{% else %}
                                Edit{% endif %} </a></td>
                            <td>{{ form.is_section_0_reviewed }}</td>
                        </tr>
                        <tr>
                            <td>2. Trusted VAS vendors</td>
                            <td><a href="/?tab=1">{% if form.is_section_1_reviewed.value %}View{% else %}
                                Edit{% endif %} </a></td>
                            <td>{{ form.is_section_1_reviewed }}</td>
                        </tr>
                        <tr>
                            <td>3. VAS Revenue and Investment</td>
                            <td><a href="/?tab=2">{% if form.is_section_2_reviewed.value %}View{% else %}
                                Edit{% endif %} </a></td>
                            <td>{{ form.is_section_2_reviewed }}</td>
                        </tr>
                        <tr>
                            <td>4. Challenges</td>
                            <td><a href="/?tab=3">{% if form.is_section_3_reviewed.value %}View{% else %}
                                Edit{% endif %} </a></td>
                            <td>{{ form.is_section_3_reviewed }}</td>
                        </tr>
                    </table>

                </form>
            {% endif %}

            <hr/>
            <p>
                <a class="btn btn-lg btn-primary" href="{% url 'survey:survey' %}" role="button">Continue to
                    Survey &raquo;</a>
            </p>
        </div>
    </div>

    <div class="jumbotron" style="padding-bottom: 20px; padding-top: 20px;">
        <div class="container">
            <p class="disclaimer">
            </p>
        </div>
    </div>

    <div id="allDoneModal" class="modal fade " role="dialog" tabindex="-1" aria-labelledby="allDoneLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="allDoneLabel">Survey complete!</h4>
                </div>
                <div class="modal-body">


                    <p>You can choose to stay on this page to view your answers or safely exit the survey by navigating
                        to another web page.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Stay</button>
                    <a class="btn btn-primary" href="{% url 'survey:goodbye' %}">Exit</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}